{% extends '_base.html' %}

{% block title %}Edit your Profile - {{ block.super }} {% endblock title %}


{% block content %}
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h3>Edit your profile</h3>
                    <form method="post">
                        {% csrf_token %}
                        {% include 'includes/form.html' with form=user_form %}
                        {% include 'includes/form.html' with form=profile_form %}
                        <button type="submit" class="btn btn-success mt-4">Update changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}